---
layout: default
---

<html>
    <head>
        {% include header.html %}
        <title>Diet Melee Changelog</title>
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            Changelog
        </h1>
        <body>
            <div class="main container">
                {% for log in site.changelogs reversed %}
                    <br>
                    <div class="item">
                        <h2>{{ log.title }}</h2>
                        <p>
                            {{ log.content }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
