---
layout: default
---

<html>
    <head>
        {% include header.html %}
        <title>Diet Melee FAQ</title>
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            FAQ
        </h1>
        <body>
            <div class="main container">
                <div class="item">
                    <p class="center">
                        You can also check the <a href="/download/">downloads</a> page for installation guides for different operating systems or the <a href="/guides/">guides</a> page for more complete tutorials on running Diet Melee with other addons and performance tweaks.
                    </p>
                </div>
                <br>
                {% for faq in site.faqs %}
                    <div class="item">
                        <p>
                            {{ faq.content }}
                        </p>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
