---
layout: default
---

<html>
    <head>
        {% include header.html %}
        <title>Welcome to Diet Melee</title>
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            Welcome to Diet Melee
        </h1>
        <div>
            <body>
                <div class="main container">
                    <div class="item">
                        <p>
                            Diet Melee v1.0 is available for Patrons! There is a new patcher to build the 3 new versions with. If you are a Patron, join the Discord and connect your Patreon account!
                        </p>
                    </div>
                    <br>
                    <div class="item gallery">
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/dmc-patch.PNG"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/dm64-patch.PNG"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/dcm-patch.PNG"></img>
                        </div>
                    </div>
                    <br>
                    <div class="item">
                        <p>
                            Diet Melee is a rollback, unranked, direct connect compatible build of Melee that’s lower poly in both its stages and characters, and thus easier to run on weaker hardware. If you’re someone who can’t get Melee consistently over 58 FPS for whatever reason, Diet Melee is for you!
                        </p>
                        <p>
                            If you want to support Diet Melee and play the latest builds, contribute to <a href="https://www.patreon.com/DietMelee">the Patreon!</a><br>
                            If you need troubleshooting help, want to keep up with development, have suggestions, or want to play Diet Melee with others, come join the community <a href="https://discord.gg/PwpcPtkRwU">Discord</a> <small>(PwpcPtkRwU)</small><br>
                            Follow the project on <a href="https://twitter.com/DietMelee">Twitter</a> for updates and information!
                        </p>
                    </div>
                    <br>
                    <div class="item">
                        <p>
                            Project leads: <a href="https://twitter.com/hamyojo">hamyojo</a> and <a href="https://twitter.com/SSBM_Cjag">Cjag</a><br>
                            Website by: <a href="https://twitter.com/real_cynth3tic">cynthetic</a><br>
                            Graphics and Illustrations by: <a href="https://twitter.com/CinnaminionTGM">cinnaminion</a>
                        </p>
                    </div>
                    <br>
                    <div class="item gallery">
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/fox-low.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-ys.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-dreamland.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-fod.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-ps.png"></img>
                        </div>
                    </div>
                </div>
            </body>
            <br>
            {% include footer.html %}
        </div>
    </div>
</html>
