<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Diet Melee">
<meta name="keywords" content="Melee, Super Smash Bros., Slippi">
<meta name="author" content="cynthetic">
<meta property="og:title" content="Diet Melee">
<meta property="og:url" content="https://diet.melee.tv">
<meta property="og:image" content="https://diet.melee.tv/images/graphics/dm-banner.png">
<meta property="og:site_name" content="diet.melee.tv">
<meta property="og:description" content="Diet Melee is a project to make Melee run on low spec computer emulators.">
<meta name="twitter:site" content="@DietMelee">
<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" type="image/jpg" href="/images/graphics/favicon.ico">
<link href="/css/fa-free-5/css/fontawesome.css" rel="stylesheet">
<link href="/css/fa-free-5/css/brands.css" rel="stylesheet">
<link href="/css/fa-free-5/css/solid.css" rel="stylesheet">
