---
layout: default
---

<html>
    <head>
        {% include header.html %}
        <title>About Diet Melee</title>
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            About Page
        </h1>
        <body>
            <div class="main container">
                <div class="item">
                    <h2>
                        Credits
                    </h2>
                    <p>
                        Project leads: <a href="https://twitter.com/hamyojo">hamyojo</a> and <a href="https://twitter.com/SSBM_Cjag">Cjag</a><br>
                        Character retextures: <a href="https://twitter.com/hamyojo">hamyojo</a>, <a href="https://twitter.com/SSBM_Cjag">Cjag</a>, Bimps, Ploaj, and <a href="https://twitter.com/TheConnorRentz">Connor Rentz</a><br>
                        Stage Remodels: <a href="https://twitter.com/SSBM_Cjag">Cjag</a>, <a href="https://twitter.com/Pigs218">Pigs</a>, and Prune_Danish.<br>
                        Stage Retexturing: <a href="https://twitter.com/VineJuices">VineJuice</a><br>
                        Logo, Graphic Design: <a href="https://twitter.com/CinnaminionTGM">cinnaminion</a> and <a href="https://twitter.com/Pigs218">Pigs</a><br>
                        Linux Patcher: IntifiPixel<br>
                        Website: <a href="https://twitter.com/real_cynth3tic">cynthetic</a><br>
                        Website Graphics: <a href="https://twitter.com/CinnaminionTGM">cinnaminion</a>
                        Wbsite Domain Host: David Kimball
                    </p>
                </div>
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
