---
layout: default
---

<html>
    <head>
        {% include header.html %}
        <title>Diet Melee Featured Mods</title>
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            Featured Mods
        </h1>
        <body>
            <div class="main container">
                <div class="item">
                    <h2>
                        Bi-Flag Yoshi's
                    </h2>
                    <p>
                        Representation in Smash, hope you enjoy. <a href="https://ssbmtextures.com/stages/yoshis-story/bi-flag-yoshis/">Download on SSBMTextures.com</a>
                    </p>
                    <div class="item gallery">
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/fox-low.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-ys.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-dreamland.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-fod.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/feature/low-ps.png"></img>
                        </div>
                    </div>
                </div>
                <br>
                <div class="item">
                    <h2>
                        Destination 80’s
                    </h2>
                    <p>
                        A remixed version of Diet Melee’s Final Destination. This was made for the Alpha 3 version. Stay groovy. <a href="https://ssbmtextures.com/stages/final-destination/destination-80s/">Download on SSBMTextures.com</a>
                    </p>
                    <div class="item gallery">
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/mods/d80-1.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/mods/d80-2.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/mods/d80-3.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/mods/d80-4.png"></img>
                        </div>
                    </div>
                </div>
                <br>
                <div class="item">
                    <h2>
                        Yoshi’s Luxury
                    </h2>
                    <p>
                        A remixed version of Diet Melee’s Yoshi’s Story. This was made for the Alpha 3 version. Yoshi hit the big time. <a href="https://ssbmtextures.com/stages/yoshis-story/yoshis-luxury/">Download on SSBMTextures.com</a>
                    </p>
                    <div class="item gallery">
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/mods/yl-1.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/mods/yl-2.png"></img>
                        </div>
                        <div class="image-wrapper">
                            <img class="gallery-image responsive"src="/images/mods/yl-3.png"></img>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
