---
layout: default
---

<html>
    {% include header.html %}
    <head>
        <title>Thunder Thighs in Thigh Highs</title>
    </head>
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            Diet Melee Test Page
        </h1>
        <body>
            <div class="main container">
                <div class="item">
                    <h2>

                    </h2>
                    <p>

                    </p>
                </div>
                <br>
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
