---
layout: default
---

<html>
    <head>
        {% include header.html %}
        <title>Thunder Thighs in Thigh Highs</title>
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            Diet Melee Test Page
        </h1>
        <body>
            <div class="main container">
                <div class="item">
                    <h2>
                        You're not supposed to be here.
                    </h2>
                    <p>
                        But since you are, let cynthetic know you dropped by in the <a href="https://discord.gg/PwpcPtkRwU">Discord</a> with the message "pink printer ink", but she probably forgot about this, so you may look like a weirdo when she doesn't know what you're talking about.
                    </p>
                </div>
                <br>
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
