<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
        <title>Diet Melee</title>
        {% include analytics.html %}
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            <!-- Find a way to get the title up here maybe, idk how-->
        </h1>
        <body>
            <div class="main container">
                <div class="item">
                    {{ content }}
                </div>
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
