---
layout: default
---

<html>
    <head>
        {% include header.html %}
        <title>Diet Melee Download Page</title>
    </head>
    {% include nav-bar.html %}
    <div class="content">
        <div class="title-image">
            <img class="responsive title-logo" src="/images/graphics/Logo-Only.png"></img>
        </div>
        <h1>
            Download Guides
        </h1>
        <body>
            <div class="main container">
                <div class="item">
                    <p class="warning-text">You do not need to be a Patron on Patreon to access the download. If you would like to help us, we would very much appreciate <a href="https://www.patreon.com/DietMelee">your support</a>.</p>
                </div>
                <br>
                <div class="item">
                    <p class="warning-text">Both sets of instructions will make a new iso, and not replace or overwrite your vanilla iso. Your normal Melee is safe.</p>
                </div>
                <br>
                <div class="item">
                    <h2>How to install on Windows:</h2>
                    <p>
                        1. Access the following site by clicking <a href="https://www.mediafire.com/folder/hykivnpyilf2l/Windows">here</a>. (This is the version for Diet Melee 1.0.3).<br>
                        2. Select and download the version of Diet Melee that you want.<br>
						3. Extract the contents of the .zip to somewhere accessible (such as your Desktop, Documents, New Folder, etc.).<br>
                        4. Open the Slippi Launcher and enter its settings in the top-right. Go to "Game". This is where your vanilla ISO is stored in your computer.<br>
                        5. Once you’ve found your Melee ISO, drag it over the .bat file.<br>
                        6. After a while, it will generate your Diet Melee ISO in the same folder as the patcher.<br>
                        7. Return to the Slippi Launcher and select the Diet Melee ISO that you have built as the default ISO. If you are using the Dolphin Emulator window, make sure the Diet Melee .iso is in the same folder as your vanilla .iso.<br>
                        You should be good to go. It should be compatible with unranked, direct, and doubles.<br>
                        If you have any problems, make sure to first check the <a href="/faq/">FAQ</a>.<br>
                        <a href="https://diet.melee.tv/guides/xdelta-ui-patching.html">Here</a> is a guide to a compatibility method of installing. Only use this if the patcher does not work for you and you have tried things like restarting your computer (v1.02 only).<br>
						You can also visit our <a href="https://discord.gg/PwpcPtkRwU">Discord</a> and enter the #i-need-help channel for assistance.
                    </p>
                    <!-- <div class="gallery">
                        <iframe class="center video-frame" src="https://www.youtube.com/embed/ai6eq-ueSFM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div> -->
                    <br>
                </div>
                <br>
                <div class="item">
                    <h2>How to install on Mac:</h2>
                    <p>
                        1. Download <a href="https://projects.sappharad.com/tools/multipatch.html">MultiPatch</a><br>
                        2. Download the xdelta file of the version you want here <a href="https://www.mediafire.com/folder/cvof34t57kee8/Mac">Diet Melee v1.0.3</a><br>
                        3. Open MultiPatch<br>
                        3a (optional; This step is just for finding your vanilla ISO, if you know where it is, skip it.) Open Dolphin. Right-click your vanilla Melee iso, and select “Open Containing Folder”. This will show where your vanilla ISO is stored in your computer.<br>
                        4. For the first field, find the patch with the extension ".xdelta" in the folder you downloaded it to.<br>
                        5. Second field, put in your vanilla ISO you just found in your Dolphin.<br>
                        6. Third field, browse to the folder your vanilla ISO is in, then put in DietMelee[version_name]-1-0-3.iso (The [version_name] is whichever of the 3 versions you downloaded). Click Save.<br>
                        7. Patch.<br>
                        You’re good to go and have Diet Melee installed on Mac!<br>
                        If you still have any problems, make sure to first check the <a href="/faq/">FAQ</a>
                    </p>
                    <div class="gallery">
                        <!--I need to add a way to make the video responsive, better if it aint broken on pc for now tho-->
                        <iframe src="https://drive.google.com/file/d/11ltGMm0ykhRyjqBNYHnc1N0FoxseoZgD/preview" width="640" height="480"></iframe>
                    </div>
                    <br>
                </div>
                <br>
                <div class="item">
                    <h2>How to patch on Linux:</h2>
                    <p>
                        Download the <a href="https://www.mediafire.com/file/v6v5yuqd9le7jav/DietMeleeLinuxPatcher.tar.gz/file">Linux patcher</a> and follow the instructions in the included README. This should work on all distros. Let us know in the <a href="https://discord.com/invite/PwpcPtkRwU">Discord</a> if it doesn't.
                        <!-- finish linux guides -->
                    </p>
                </div>
            </div>
        </body>
        <br>
        {% include footer.html %}
    </div>
</html>
